<h1>Mat-Form-Field Fundamentals</h1>
<form [formGroup]="options" autocomplete="off">
  <mat-card>
    <mat-card-content>
      <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox><br /><br />
      <mat-radio-group formControlName="floatLabel">
        <mat-radio-button value="auto">Auto</mat-radio-button>
        <mat-radio-button value="always">Always</mat-radio-button>
        <mat-radio-button value="never">Never</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <div fxFlexLayout="row">
    <div fxFlex="400px">
      <mat-card>
        <mat-card-title>
          Legacy
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="legacy" [hideRequiredMarker]="options.value.hideRequired"
            [floatLabel]="options.value.floatLabel">
            <input placeholder="Placeholder/Floating label" type="text" matInput required>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Standard
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="standard" [hideRequiredMarker]="options.value.hideRequired"
            [floatLabel]="options.value.floatLabel">
            <mat-label>Floating Label</mat-label>
            <input type="text" matInput required>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="400px">
      <mat-card>
        <mat-card-title>
          Fill
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="fill" [hideRequiredMarker]="options.value.hideRequired"
            [floatLabel]="options.value.floatLabel">
            <mat-label>Floating Label</mat-label>
            <input type="text" matInput required>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Outline
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="outline" [hideRequiredMarker]="options.value.hideRequired"
            [floatLabel]="options.value.floatLabel">
            <mat-label>Floating Label</mat-label>
            <input type="text" matInput required>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <hr />
  <h1>Globally Set Appearance, FloatLabel and Hide Required Marker</h1>
  <div fxFlexLayout="row">
    <div fxFlex="400px">
      <mat-card>
        <mat-card-title>
          Legacy
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Legacy</mat-label>
            <input placeholder="Placeholder/Floating label" type="text" matInput required>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Standard
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Floating Label</mat-label>
            <input type="text" matInput required>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="400px">
      <mat-card>
        <mat-card-title>
          Fill
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Floating Label</mat-label>
            <input type="text" matInput required>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Outline
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Floating Label</mat-label>
            <input type="text" matInput required>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <hr />
  <h1>Prefix and Suffix</h1>
  <div fxFlexLayout="row">
    <div fxFlex="400px">
      <mat-card>
        <mat-card-title>
          Legacy
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="legacy">
            <mat-label>Legacy</mat-label>
            <input placeholder="Placeholder/Floating label" type="text" matInput required>
            <span matPrefix>prepend</span>
            <span matSuffix>append</span>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Standard
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="standard">
            <mat-label>Floating Label</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput required>
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="400px">
      <mat-card>
        <mat-card-title>
          Fill
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Floating Label</mat-label>
            <input type="text" matInput required>
            <span matPrefix>prepend</span>
            <span matSuffix>append</span>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Outline
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Floating Label</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput required>
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <hr />
  <h1>Hint Messages and Labels</h1>
  <div fxFlexLayout="row">
    <div fxFlex="400px">
      <mat-card>
        <mat-card-title>
          Legacy
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="legacy">
            <mat-label>Legacy</mat-label>
            <input placeholder="Placeholder/Floating label" type="text" matInput required>
            <span matPrefix>prepend</span>
            <span matSuffix>append</span>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Standard
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="standard">
            <mat-label>Floating Label</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput required>
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="400px">
      <mat-card>
        <mat-card-title>
          Fill
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Floating Label</mat-label>
            <input type="text" matInput required>
            <span matPrefix>prepend</span>
            <span matSuffix>append</span>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Outline
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Floating Label</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput required>
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <hr />

  <h1>Error messages</h1>
  <div fxFlexLayout="row">
    <div fxFlex="400px">
      <mat-card>
        <mat-card-title>
          Legacy
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="legacy">
            <mat-label>Legacy</mat-label>
            <input placeholder="Placeholder/Floating label" type="text" matInput required>
            <span matPrefix>prepend</span>
            <span matSuffix>append</span>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Standard
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="standard">
            <mat-label>Floating Label</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput required>
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="400px">
      <mat-card>
        <mat-card-title>
          Fill
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Floating Label</mat-label>
            <input type="text" matInput required>
            <span matPrefix>prepend</span>
            <span matSuffix>append</span>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Outline
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Floating Label</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput required>
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <hr />

  <h1>Theming</h1>
  <div fxFlexLayout="row">
    <div fxFlex="400px">
      <mat-card>
        <mat-card-title>
          Legacy
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="legacy">
            <mat-label>Legacy</mat-label>
            <input placeholder="Placeholder/Floating label" type="text" matInput required>
            <span matPrefix>prepend</span>
            <span matSuffix>append</span>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Standard
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="standard">
            <mat-label>Floating Label</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput required>
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="400px">
      <mat-card>
        <mat-card-title>
          Fill
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Floating Label</mat-label>
            <input type="text" matInput required>
            <span matPrefix>prepend</span>
            <span matSuffix>append</span>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Outline
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Floating Label</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput required>
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>


<!--
    <mat-form-field appearance="legacy">
      <input placeholder="Legacy" required type="text" matInput>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Standard</mat-label>
      <input type="text" required matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Fill</mat-label>
      <input type="text" placeholder="Fill" required matInput>
      <mat-error *ngIf="ctrl.invalid">Field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Outline</mat-label>
      <input type="text" matInput>
    </mat-form-field>
 -->

<!--
   <mat-form-field appearance="standard">
      <mat-label>Standard</mat-label>
      <input #input type="text" matInput>
      <mat-hint>You have entered {{input.value?.length || 0}}/25</mat-hint>
    </mat-form-field>

  <input [type]="hide ? 'password' : 'text'" matInput>
      <button mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

    <mat-select required>
            <mat-option>-- None --</mat-option>
            <mat-option value="option1">Users</mat-option>
          </mat-select>
<mat-label>
  <mat-icon>groups</mat-icon> Fill
</mat-label>
    -->